@font-face {
    font-family: 'choco';
    src: url('./fonts/chocolate_bar_demo-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sour';
    src: url('./fonts/sourgummy-variablefont_wdthwght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    color: #c2410c;
    background-color: #fde68a;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    padding-bottom: 20px;
}
nav button{
    font-family: 'sour';
    border: none;
    height: 40px;
    width: 100px;
    background-color: #c2410c;
    color: #fde68a;
    
}
nav{
    height: 10%;
}
header span{
    font-family: 'choco';
    font-size: 48px;
    display: grid;
    place-content: center;
    text-align: center;
    height: 70%;
}
.content{
    height: 720px;
    background-color: #f472b6;
}
.hero-img img{
    height: 720px;
    width: 880px;
}
.content {
    display: flex;
    
}
.hero-caption {
    font-size: 24px;
    gap: 20px;
    color: #fce7f3;
    font-family: "sour";
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-caption button {
    border: none;
    color: #f472b6;
    font-family: "sour";
    height: 40px;
    width: 100px;

}
.img-holder {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 32px;
    font-family: "sour";
}
.shop-image > img {
    height: 400px;
}
.details {
    font-family: "sour";
    font-size: 20px;
}